/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

// Angular Material 3+ theme configuration
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    plain-family: 'Roboto, sans-serif',
    brand-family: 'Roboto, sans-serif',
    bold-weight: 600,
    regular-weight: 400,
    medium-weight: 500,
  ),
  density: (
    scale: 0
  )
));

html {
  @include mat.all-component-themes($my-theme);
}
